<%# <!DOCTYPE html>
<html>
  <head>
    <title>MedicineTrackerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%# <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= javascript_importmap_tags %> 
  <%# </head>  %>

  <%# <body>
    <%= yield %>
  <%# </body>
</html>  %>






<!DOCTYPE html>
<html>
<head>
  <!-- Your head content -->
</head>
<body>
  <div id="root"></div> <!-- This is where the React app will be rendered -->
  <%= javascript_pack_tag 'index' %> <!-- Include React app's JavaScript -->
</body>
</html>
